<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Analysis</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
        .buy-decision {
            background-color: lightgreen;
        }
    </style>
    <style>
        .superbuy-decision {
            background-color: rgb(83, 179, 235);
        }
    </style>
    <script>
        

        function downloadCSV() {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                
                csv.push(row.join(","));
            }

            var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "Delivery_analysis.csv");
            document.body.appendChild(link);
            link.click();
        }
        // Call startAutoRefresh on page load
        
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/delivery">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/input_symbol">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/last_prices">NIFTY50</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/intraday">Intraday</a>
                </li>
            </ul>
        </div>
    </nav>
    <p id="refreshStatus" style="font-weight: bold; margin-bottom: 10px;"></p>
    <p id="refreshTime" style="font-style: italic; margin-bottom: 10px;"></p>

    
    <button onclick="downloadCSV()">Download CSV</button><BR><BR><BR>
    <div class="container">
    <h1>Delivery Analysis</h1>
    <p>Last Refreshed: {{ last_refreshed }}</p>
    <table border="1">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Closing Price</th>
                <th>VWAP</th>
                <th>RSI</th>
                <th>SMA</th>
                <th>EMA</th>
                <th>MACD</th>
                <th>Bollinger Bands (Upper/Lower)</th>
                <th>Bid-Ask Spread</th>
                <th>Turnover Ratio</th>
                <th>Pull Back</th>
                <th>Final Decision</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            {% if result.decision == 'Buy' and result.indicators_data['pullback_buy_action'] in ['Buy'] %}
                <tr class="superbuy-decision">
                {% elif result.decision == 'Buy' and result.indicators_data['MACD_Crossover'] in ['Hold', 'Bullish'] %}
                <tr class="buy-decision">
                    
            {% else %}
            <tr>
            {% endif %}
            
            
                <td>{{ result.symbol }}</td>
                <td>{{ result.LTP }}</td>
                <td>{{ result.indicators_data['VWAP'] }}</td>
                <td>{{ result.indicators_data['RSI'] }}</td>
                <td>{{ result.indicators_data['SMA'] }}</td>
                <td>{{ result.indicators_data['EMA'] }}</td>
                <td>{{ result.indicators_data['MACD_Crossover'] }}</td>
                <td>
                    {% if 'Bollinger Bands' in result.indicators_data %}
                     {{ result.indicators_data['Bollinger Bands'].split(',')[0] | default('N/A') }} 
                    / {{ result.indicators_data['Bollinger Bands'].split(',')[1] | default('N/A') }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ result.indicators_data['Bid-Ask Spread'] }}</td>
                <td>{{ result.indicators_data['Turnover Ratio'] }}</td>
                <td>{{ result.indicators_data['pullback_buy_action'] }}</td>
                <td>{{ result.decision }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
</body>
</html>
