<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Analysis</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
        .buy-decision {
            background-color: lightgreen;
        }
        .superbuy-decision {
            background-color: rgb(83, 179, 235);
        }
        /* Add space between <td> elements */
        td {
            padding-right: 20px; /* Adjust as needed */
        }
    </style>
    <script>
        var refreshInterval; // Variable to hold the interval ID

        // Function to start or resume auto-refresh
        function startAutoRefresh() {
            refreshInterval = setInterval(function() {
                location.reload();
            }, 10000); // 120000 milliseconds = 2 minutes
            updateRefreshTime(); // Update timestamp immediately on start
            document.getElementById('refreshStatus').innerText = 'Auto Refresh: Enabled';
        }

        // Function to pause auto-refresh
        function pauseAutoRefresh() {
            clearInterval(refreshInterval); // Clear the interval
            document.getElementById('refreshStatus').innerText = 'Auto Refresh: Paused';
        }

        // Function to update last refreshed date and time
        function updateRefreshTime() {
            var now = new Date();
            var formattedTime = now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
            var formattedDate = now.toLocaleDateString('en-US');
            var refreshTime = formattedDate + ' ' + formattedTime;
            document.getElementById('refreshTime').innerText = 'Last Refreshed: ' + refreshTime;
        }

        function downloadCSV() {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                
                csv.push(row.join(","));
            }

            var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "Delivery_analysis.csv");
            document.body.appendChild(link);
            link.click();
        }

        function addToWatchlist() {
            var checkboxes = document.querySelectorAll('input[name="watchlist"]:checked');
            var symbols = [];
            checkboxes.forEach((checkbox) => {
                symbols.push(checkbox.value);
            });

            if (symbols.length > 0) {
                fetch('/add_to_watchlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ symbols: symbols })
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            } else {
                alert('No symbols selected');
            }
        }

        


        window.onload = function() {
            checkAlerts();
            startAutoRefresh();
        };
    </script>
    <script>
        function showWatchlist() {
            window.location.href = '/show_watchlist';
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/input_symbol">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/delivery">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show_watchlist">Watchlist</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h5>Market Sentiment: <span><b>{{ vix_senti }}</b></span></h5>
        <div class="result">
            <table>
                <tr>
                    <td>VIX: <span>{{ vix if vix is not none else "Data not available" }}</span><br></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <p id="refreshStatus" style="font-weight: bold; margin-bottom: 10px;"></p>
        <p id="refreshTime" style="font-style: italic; margin-bottom: 10px;"></p>
        <button onclick="startAutoRefresh()">Resume Auto Refresh</button>
        <button onclick="pauseAutoRefresh()">Pause Auto Refresh</button>
        <button onclick="downloadCSV()">Download CSV</button>
        <button onclick="addToWatchlist()">Add to Watchlist</button>
        <button onclick="showWatchlist()">Show Watchlist</button>
        <br><br><br>
        <div id="watchlistContainer"></div>
    </div>
    <div class="container">
        <h1>Delivery Analysis</h1>
        <p>Last Refreshed: {{ last_refreshed }}</p>
        <h3><b>Important Indicators:</b> EMA , VWAP, MACD - Should be in BUY</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Watchlist</th>
                    <th>Symbol</th>
                    <th>LTP</th>
                    <th>Buy Signals</th>
                    <th>Sell Signals</th>
                    <th>Hold Signals</th>
                    <th>Final Decision</th>
                    <th>Buy</th>
                    <th>Sell</th>
                    <th>Hold</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                {% if result.decision == 'Super Buy' %}
                    <tr class="superbuy-decision">
                {% elif result.decision == 'Buy' %}
                    <tr class="buy-decision">
                {% else %}
                    <tr>
                {% endif %}
                    <td><input type="checkbox" name="watchlist" value="{{ result.symbol }}"></td>
                    <td>{{ result.symbol }}</td>
                    <td>{{ result.LTP }}</td>
                    <td>{{ result.buy_signals }}</td>
                    <td>{{ result.sell_signals }}</td>
                    <td>{{ result.hold_signal }}</td>
                    <td>{{ result.decision }}</td>
                    <td>{{ result.buy }}</td>
                    <td>{{ result.sell }}</td>
                    <td>{{ result.hold }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</body>
</html>
