<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Term Analysis</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/delivery">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/input_symbol">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/last_prices">NIFTY50 LTP</a>
                
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Intraday Analysis</h1>
        <form action="/delivery" method="GET">
            <div class="form-group">
                <label for="symbol">Enter Symbols (comma-separated in captial):</label><br>
                <input type="text" id="symbols" name="symbols" value="INFY" required><br><br>
                
                <button type="submit"  class="btn btn-success">Intraday</button>
            </div>

        </form>
    </div>
    <div class="container">
        <b>Nifty 50</b><br>
        Adani Ports & SEZ - ADANIPORTS <br>
Asian Paints - ASIANPAINT <br>
Axis Bank - AXISBANK <br>
Bajaj Auto - BAJAJ-AUTO <br>
Bajaj Finance - BAJFINANCE <br>
Bajaj Finserv - BAJAJFINSV <br>
Bharti Airtel - BHARTIARTL <br>
Britannia Industries - BRITANNIA <br>
Cipla - CIPLA <br>
Coal India - COALINDIA <br>
Divi's Laboratories - DIVISLAB <br>
Dr. Reddy's Laboratories - DRREDDY <br>
Eicher Motors - EICHERMOT <br>
Grasim Industries - GRASIM <br>
HCL Technologies - HCLTECH <br>
HDFC - HDFC <br>
HDFC Bank - HDFCBANK <br>
Hero MotoCorp - HEROMOTOCO <br>
Hindalco Industries - HINDALCO <br>
Hindustan Unilever - HINDUNILVR <br>
ICICI Bank - ICICIBANK <br>
IndusInd Bank - INDUSINDBK <br>
Infosys - INFY <br>
ITC - ITC <br>
JSW Steel - JSWSTEEL <br>
Kotak Mahindra Bank - KOTAKBANK <br>
Larsen & Toubro - LT <br>
Mahindra & Mahindra - M&M <br>
Marico - MARICO <br>
Maruti Suzuki India - MARUTI <br>
Nestle India - NESTLEIND <br>
NTPC - NTPC <br>
Oil & Natural Gas Corporation - ONGC <br>
Power Grid Corporation of India - POWERGRID <br>
Reliance Industries - RELIANCE <br>
Shree Cement - SHREECEM <br>
Sun Pharmaceutical Industries - SUNPHARMA <br>
Tata Consumer Products - TATACONSUM <br>
Tata Motors - TATAMOTORS <br>
Tata Steel - TATASTEEL <br>
Tech Mahindra - TECHM <br>
Titan Company - TITAN <br>
UltraTech Cement - ULTRACEMCO <br>
United Phosphorus Limited - UPL <br>
Wipro - WIPRO <br>
Adani Enterprises - ADANIENT <br>
Hindustan Petroleum Corporation - HINDPETRO <br>
Indian Oil Corporation - IOC <br>
Power Finance Corporation - PFC <br>
Zee Entertainment Enterprises - ZEEL <br>
        <b>Nifty 500</b><br>
        3M India Ltd. (3MINDIA) <BR>
            Aarti Drugs Ltd. (AARTIDRUGS) <BR>
            Aarti Industries Ltd. (AARTIIND) <BR>
            Aavas Financiers Ltd. (AAVAS) <BR>
            ABB India Ltd. (ABB) <BR>
            Abbott India Ltd. (ABBOTINDIA) <BR>
            Aditya Birla Capital Ltd. (ABCAPITAL) <BR>
            Aditya Birla Fashion and Retail Ltd. (ABFRL) <BR>
            ACC Ltd. (ACC) <BR>
            Adani Enterprises Ltd. (ADANIENT) <BR>
            Adani Green Energy Ltd. (ADANIGREEN) <BR>
            Adani Ports and Special Economic Zone Ltd. (ADANIPORTS) <BR>
            Adani Power Ltd. (ADANIPOWER) <BR>
            Adani Transmission Ltd. (ADANITRANS) <BR>
            Alkem Laboratories Ltd. (ALKEM) <BR>
            Alkyl Amines Chemicals Ltd. (ALKYLAMINE) <BR>
            Allcargo Logistics Ltd. (ALLCARGO) <BR>
            Amara Raja Batteries Ltd. (AMARAJABAT) <BR>
            Ambuja Cements Ltd. (AMBUJACEM) <BR>
            Angel One Ltd. (ANGELONE) <BR>
            Alembic Pharmaceuticals Ltd. (APLLTD) <BR>
            Apollo Hospitals Enterprise Ltd. (APOLLOHOSP) <BR>
            Apollo Tyres Ltd. (APOLLOTYRE) <BR>
            Ashok Leyland Ltd. (ASHOKLEY) <BR>
            Asian Paints Ltd. (ASIANPAINT) <BR>
            Astral Ltd. (ASTRAL) <BR>
            Atul Ltd. (ATUL) <BR>
            AU Small Finance Bank Ltd. (AUBANK) <BR>
            Aurobindo Pharma Ltd. (AUROPHARMA) <BR>
            Avanti Feeds Ltd. (AVANTIFEED) <BR>
            Adani Wilmar Ltd. (AWL) <BR>
            Axis Bank Ltd. (AXISBANK) <BR>
            Bajaj Auto Ltd. (BAJAJ-AUTO) <BR>
            Bajaj Finserv Ltd. (BAJAJFINSV) <BR>
            Bajaj Holdings & Investment Ltd. (BAJAJHLDNG) <BR>
            Bajaj Finance Ltd. (BAJFINANCE) <BR>
            Balaji Amines Ltd. (BALAMINES) <BR>
            Balkrishna Industries Ltd. (BALKRISIND) <BR>
            Balrampur Chini Mills Ltd. (BALRAMCHIN) <BR>
            Bandhan Bank Ltd. (BANDHANBNK) <BR>
            Bank of Baroda (BANKBARODA) <BR>
            Bank of India (BANKINDIA) <BR>
            BASF India Ltd. (BASF) <BR>
            Bata India Ltd. (BATAINDIA) <BR>
            Bayer Cropscience Ltd. (BAYERCROP) <BR>
            Bombay Burmah Trading Corporation Ltd. (BBTC) <BR>
            Bharat Dynamics Ltd. (BDL) <BR>
            Bharat Electronics Ltd. (BEL) <BR>
            BEML Ltd. (BEML) <BR>
            Berger Paints India Ltd. (BERGEPAINT) <BR>
            Bharat Forge Ltd. (BHARATFORG) <BR>
            Bharti Airtel Ltd. (BHARTIARTL) <BR>
            Bharat Heavy Electricals Ltd. (BHEL) <BR>
            Biocon Ltd. (BIOCON) <BR>
            Birla Corporation Ltd. (BIRLACORPN) <BR>
            Bliss GVS Pharma Ltd. (BLISSGVS) <BR>
            Blue Dart Express Ltd. (BLUEDART) <BR>
            Blue Star Ltd. (BLUESTARCO) <BR>
            Bombay Dyeing and Manufacturing Company Ltd. (BOMDYEING) <BR>
            Borosil Renewables Ltd. (BORORENEW) <BR>
            Bosch Ltd. (BOSCHLTD) <BR>
            Bharat Petroleum Corporation Ltd. (BPCL) <BR>
            Brigade Enterprises Ltd. (BRIGADE) <BR>
            Britannia Industries Ltd. (BRITANNIA) <BR>
            BSE Ltd. (BSE) <BR>
            Birlasoft Ltd. (BSOFT) <BR>
            Restaurant Brands Asia Ltd. (BURGERKING) <BR>
            Cadila Healthcare Ltd. (CADILAHC) <BR>
            Camlin Fine Sciences Ltd. (CAMLINFINE) <BR>
            Canara Bank (CANBK) <BR>
            Can Fin Homes Ltd. (CANFINHOME) <BR>
            Caplin Point Laboratories Ltd. (CAPLIPOINT) <BR>
            Carborundum Universal Ltd. (CARBORUNIV) <BR>
            Castrol India Ltd. (CASTROLIND) <BR>
            CCL Products (India) Ltd. (CCL) <BR>
            Central Depository Services (India) Ltd. (CDSL) <BR>
            CEAT Ltd. (CEATLTD) <BR>
            Central Bank of India (CENTRALBK) <BR>
            Century Plyboards (India) Ltd. (CENTURYPLY) <BR>
            Century Textiles and Industries Ltd. (CENTURYTEX) <BR>
            Cera Sanitaryware Ltd. (CERA) <BR>
            CESC Ltd. (CESC) <BR>
            CG Power and Industrial Solutions Ltd. (CGPOWER) <BR>
            Chalet Hotels Ltd. (CHALET) <BR>
            Chambal Fertilizers & Chemicals Ltd. (CHAMBLFERT) <BR>
            Cholamandalam Investment and Finance Company Ltd. (CHOLAFIN) <BR>
            Cipla Ltd. (CIPLA) <BR>
            Clean Science and Technology Ltd. (CLEAN) <BR>
            Coal India Ltd. (COALINDIA) <BR>
            Cochin Shipyard Ltd. (COCHINSHIP) <BR>
            Coforge Ltd. (COFORGE) <BR>
            Colgate Palmolive (India) Ltd. (COLPAL) <BR>
            Container Corporation of India Ltd. (CONCOR) <BR>
            CreditAccess Grameen Ltd. (CREDITACC) <BR>
            CRISIL Ltd. (CRISIL) <BR>
            CSB Bank Ltd. (CSBBANK) <BR>
            City Union Bank Ltd. (CUB) <BR>
            Cummins India Ltd. (CUMMINSIND) <BR>
            Cyient Ltd. (CYIENT) <BR>
            Dabur India Ltd. (DABUR) <BR>
            Dalmia Bharat Ltd. (DALBHARAT) <BR>
            DCB Bank Ltd. (DCBBANK) <BR>
            DCM Shriram Ltd. (DCMSHRIRAM) <BR>
            Dhani Services Ltd. (DHANI) <BR>
            Dhanuka Agritech Ltd. (DHANUKA) <BR>
            DB Corp Ltd. (DBCORP) <BR>
            DB Realty Ltd. (DBREALTY) <BR>
            Deepak Fertilisers and Petrochemicals Corp Ltd. (DEEPAKFERT) <BR>
            Deepak Nitrite Ltd. (DEEPAKNTR) <BR>
            Delhivery Ltd. (DELHIVERY) <BR>
            Delta Corp Ltd. (DELTACORP) <BR>
            Dhanlaxmi Bank Ltd. (DHANBANK) <BR>
            Dilip Buildcon Ltd. (DBL) <BR>
            Dixon Technologies (India) Ltd. (DIXON) <BR>
            DLF Ltd. (DLF) <BR>
            Dr. Lal Path Labs Ltd. (LALPATHLAB) <BR>
            Dr. Reddy's Laboratories Ltd. (DRREDDY) <BR>
            Edelweiss Financial Services Ltd. (EDELWEISS) <BR>
            Eicher Motors Ltd. (EICHERMOT) <BR>
            Elgi Equipments Ltd. (ELGIEQUIP) <BR>
            Emami Ltd. (EMAMILTD) <BR>
            Endurance Technologies Ltd. (ENDURANCE) <BR>
            Engineers India Ltd. (ENGINERSIN) <BR>
            EPL Ltd. (EPL) <BR>
            Equitas Small Finance Bank Ltd. (EQUITASBNK) <BR>
            Equitas Holdings Ltd. (EQUITAS) <BR>
            ERIS Lifesciences Ltd. (ERIS) <BR>
            Eris Pharmaceuticals Ltd. (ERISPHARMA) <BR>
            Escorts Ltd. (ESCORTS) <BR>
            Exide Industries Ltd. (EXIDEIND) <BR>
            FDC Ltd. (FDC) <BR>
            Finolex Cables Ltd. (FINCABLES) <BR>
            Finolex Industries Ltd. (FINPIPE) <BR>
            Firstsource Solutions Ltd. (FSL) <BR>
            Fortis Healthcare Ltd. (FORTIS) <BR>
            Foseco India Ltd. (FOSECOIND) <BR>
            Future Retail Ltd. (FRETAIL) <BR>
            GAIL (India) Ltd. (GAIL) <BR>
            Galaxy Surfactants Ltd. (GALAXYSURF) <BR>
            Garware Technical Fibres Ltd. (GARFIBRES) <BR>
            Gateway Distriparks Ltd. (GATEWAY) <BR>
            GE Power India Ltd. (GEPIL) <BR>
            Gland Pharma Ltd. (GLAND) <BR>
            Glaxosmithkline Pharmaceuticals Ltd. (GLAXO) <BR>
            Glenmark Pharmaceuticals Ltd. (GLENMARK) <BR>
            Godfrey Phillips India Ltd. (GODFRYPHLP) <BR>
            Godrej Agrovet Ltd. (GODREJAGRO) <BR>
            Godrej Consumer Products Ltd. (GODREJCP) <BR>
            Godrej Industries Ltd. (GODREJIND) <BR>
            Godrej Properties Ltd. (GODREJPROP) <BR>
            Granules India Ltd. (GRANULES) <BR>
            Graphite India Ltd. (GRAPHITE) <BR>
            Grasim Industries Ltd. (GRASIM) <BR>
            Greaves Cotton Ltd. (GREAVESCOT) <BR>
            Greenlam Industries Ltd. (GREENLAM) <BR>
            Greenpanel Industries Ltd. (GREENPANEL) <BR>
            Grindwell Norton Ltd. (GRINDWELL) <BR>
            GSK Consumer Healthcare Ltd. (GSFC) <BR>
            Gujarat Alkalies and Chemicals Ltd. (GUJALKALI) <BR>
            Gujarat Ambuja Exports Ltd. (GAEL) <BR>
            Gujarat Fluorochemicals Ltd. (GFLLIMITED) <BR>
            Gujarat Gas Ltd. (GUJGASLTD) <BR>
            Gujarat Narmada Valley Fertilizers & Chemicals Ltd. (GNFC) <BR>
            Gujarat State Fertilizers & Chemicals Ltd. (GSFC) <BR>
            Gujarat State Petronet Ltd. (GSPL) <BR>
            Gujarat Themis Biosyn Ltd. (GUJTHEM) <BR>
            Happiest Minds Technologies Ltd. (HAPPSTMNDS) <BR>
            Hathway Cable & Datacom Ltd. (HATHWAY) <BR>
            Havells India Ltd. (HAVELLS) <BR>
            HDFC Asset Management Company Ltd. (HDFCAMC) <BR>
            HDFC Bank Ltd. (HDFCBANK) <BR>
            HDFC Life Insurance Company Ltd. (HDFCLIFE) <BR>
            Healthcare Global Enterprises Ltd. (HCG) <BR>
            HeidelbergCement India Ltd. (HEIDELBERG) <BR>
            Hester Biosciences Ltd. (HESTERBIO) <BR>
            Hexaware Technologies Ltd. (HEXAWARE) <BR>
            Hindalco Industries Ltd. (HINDALCO) <BR>
            Hindustan Aeronautics Ltd. (HAL) <BR>
            Hindustan Copper Ltd. (HINDCOPPER) <BR>
            Hindustan Media Ventures Ltd. (HMVL) <BR>
            Hindustan Petroleum Corporation Ltd. (HINDPETRO) <BR>
            Hindustan Unilever Ltd. (HINDUNILVR) <BR>
            Hindustan Zinc Ltd. (HINDZINC) <BR>
            Housing Development Finance Corporation Ltd. (HDFC) <BR>
            HPL Electric & Power Ltd. (HPL) <BR>
            HSIL Ltd. (HSIL) <BR>
            Huhtamaki India Ltd. (HUHTAMAKI) <BR>
            ICICI Bank Ltd. (ICICIBANK) <BR>
            ICICI Lombard General Insurance Company Ltd. (ICICIGI) <BR>
            ICICI Prudential Life Insurance Company Ltd. (ICICIPRULI) <BR>
            IDBI Bank Ltd. (IDBI) <BR>
            IDFC First Bank Ltd. (IDFCFIRSTB) <BR>
            IDFC Ltd. (IDFC) <BR>
            IFB Industries Ltd. (IFBIND) <BR>
            IIFL Finance Ltd. (IIFL) <BR>
            Indiabulls Housing Finance Ltd. (IBULHSGFIN) <BR>
            Indiabulls Real Estate Ltd. (IBREALEST) <BR>
            Indian Bank (INDIANB) <BR>
            Indian Energy Exchange Ltd. (IEX) <BR>
            Indian Hotels Company Ltd. (INDHOTEL) <BR>
            Indian Oil Corporation Ltd. (IOC) <BR>
            Indian Overseas Bank (IOB) <BR>
            Indoco Remedies Ltd. (INDOCO) <BR>
            Indraprastha Gas Ltd. (IGL) <BR>
            IndusInd Bank Ltd. (INDUSINDBK) <BR>
            Indus Towers Ltd. (INDUSTOWER) <BR>
            Info Edge (India) Ltd. (NAUKRI) <BR>
            Infosys Ltd. (INFY) <BR>
            INOX Leisure Ltd.
            Ipca Laboratories Ltd. (IPCALAB) <BR>
            IRB Infrastructure Developers Ltd. (IRB) <BR>
            IRCON International Ltd. (IRCON) <BR>
            ITC Ltd. (ITC) <BR>
            ITI Ltd. (ITI) <BR>
            J.B. Chemicals & Pharmaceuticals Ltd. (JBCHEPHARM) <BR>
            J.K. Cement Ltd. (JKCEMENT) <BR>
            J.K. Paper Ltd. (JKPAPER) <BR>
            J.M. Financial Ltd. (JMFINANCIL) <BR>
            Jaiprakash Associates Ltd. (JPASSOCIAT) <BR>
            Jain Irrigation Systems Ltd. (JISLJALEQS) <BR>
            Jammu & Kashmir Bank Ltd. (J&KBANK) <BR>
            JB Chemicals & Pharmaceuticals Ltd. (JBCHEPHARM) <BR>
            Jet Airways (India) Ltd. (JETAIRWAYS) <BR>
            Jindal Poly Films Ltd. (JINDALPOLY) <BR>
            Jindal Saw Ltd. (JINDALSAW) <BR>
            Jindal Stainless (Hisar) <BR> Ltd. (JSLHISAR) <BR>
            Jindal Steel & Power Ltd. (JINDALSTEL) <BR>
            JK Lakshmi Cement Ltd. (JKLAKSHMI) <BR>
            JK Tyre & Industries Ltd. (JKTYRE) <BR>
            Jubilant Foodworks Ltd. (JUBLFOOD) <BR>
            Jubilant Ingrevia Ltd. (JUBLINDS) <BR>
            Jubilant Pharmova Ltd. (JUBLPHARMA) <BR>
            Just Dial Ltd. (JUSTDIAL) <BR>
            K.P.R. Mill Ltd. (KPRMILL) <BR>
            Kalpataru Power Transmission Ltd. (KALPATPOWR) <BR>
            Kansai Nerolac Paints Ltd. (KANSAINER) <BR>
            Karur Vysya Bank Ltd. (KARURVYSYA) <BR>
            Kaveri Seed Company Ltd. (KSCL) <BR>
            KEI Industries Ltd. (KEI) <BR>
            Kesoram Industries Ltd. (KESORAMIND) <BR>
            Kewal Kiran Clothing Ltd. (KKCL) <BR>
            Khadim India Ltd. (KHADIM) <BR>
            KNR Constructions Ltd. (KNRCON) <BR>
            Kohinoor Foods Ltd. (KOHINOOR) <BR>
            Kolte Patil Developers Ltd. (KOLTEPATIL) <BR>
            Kopran Ltd. (KOPRAN) <BR>
            Kotak Mahindra Bank Ltd. (KOTAKBANK) <BR>
            Krishna Institute of Medical Sciences Ltd. (KIMS) <BR>
            KSB Ltd. (KSB) <BR>
            Ksolves India Ltd. (KSOLVES) <BR>
            K.P. Energy Ltd. (KPEL) <BR>
            KPI Global Infrastructure Ltd. (KPIGLOBAL) <BR>
            Kridhan Infra Ltd. (KRIDHANINF) <BR>
            KRBL Ltd. (KRBL) <BR>
            Kridhan Infra Ltd. (KRIDHANINFRA) <BR>
            KSB Pumps Ltd. (KSB) <BR>
            KSL and Industries Ltd. (KSL) <BR>
            L&T Finance Holdings Ltd. (L&TFH) <BR>
            L&T Technology Services Ltd. (LTTS) <BR>
            Lakshmi Machine Works Ltd. (LAXMIMACH) <BR>
            Laurus Labs Ltd. (LAURUSLABS) <BR>
            LGB Forge Ltd. (LGBFORGE) <BR>
            Liberty Shoes Ltd. (LIBERTSHOE) <BR>
            LIC Housing Finance Ltd. (LICHSGFIN) <BR>
            Linde India Ltd. (LINDEINDIA) <BR>
            Lloyds Steels Industries Ltd. (LSIL) <BR>
            Lohia Securities Ltd. (LOHIASEC) <BR>
            Lumax Auto Technologies Ltd. (LUMAXTECH) <BR>
            Lupin Ltd. (LUPIN) <BR>
            M&M Financial Services Ltd. (M&MFIN) <BR>
            Mahindra & Mahindra Ltd. (M&M) <BR>
            Mahindra CIE Automotive Ltd. (MAHINDCIE) <BR>
            Mahindra Holidays & Resorts India Ltd. (MHRIL) <BR>
            Mahindra Lifespace Developers Ltd. (MAHLIFE) <BR>
            Mahindra Logistics Ltd. (MAHLOG) <BR>
            Mangalam Cement Ltd. (MANGLMCEM) <BR>
            Manpasand Beverages Ltd. (MANPASAND) <BR>
            Marico Ltd. (MARICO) <BR>
            Maruti Suzuki India Ltd. (MARUTI) <BR>
            Mas Financial Services Ltd. (MASFIN) <BR>
            Mastek Ltd. (MASTEK) <BR>
            Matrimony.com Ltd. (MATRIMONY) <BR>
            Max Financial Services Ltd. (MFSL) <BR>
            Mazagon Dock Shipbuilders Ltd. (MAZDOCK) <BR>
            Mcleod Russel India Ltd. (MCLEODRUSS) <BR>
            Mcnally Bharat Engineering Company Ltd. (MBECL) <BR>
            MEP Infrastructure Developers Ltd. (MEP) <BR>
            Metropolis Healthcare Ltd. (METROPOLIS) <BR>
            MindTree Ltd. (MINDTREE) <BR>
            Mishra Dhatu Nigam Ltd. (MIDHANI) <BR>
            Minda Industries Ltd. (MINDAIND) <BR>
            MIRC Electronics Ltd. (MIRCELECTR) <BR>
            Mirza International Ltd. (MIRZAINT) <BR>
            MM Forgings Ltd. (MMFL) <BR>
            MMTC Ltd. (MMTC) <BR>
            MOIL Ltd. (MOIL) <BR>
            Monnet Ispat & Energy Ltd. (AIONJSW) <BR>
            Motherson Sumi Systems Ltd. (MOTHERSUMI) <BR>
            Motherson Sumi Wiring India Ltd. (MOTHERSON) <BR>
            Motilal Oswal Financial Services Ltd. (MOTILALOFS) <BR>
            Mphasis Ltd. (MPHASIS) <BR>
            MRO-TEK Realty Ltd. (MRO-TEK) <BR>
            Muthoot Capital Services Ltd. (MUTHOOTCAP) <BR>
            Muthoot Finance Ltd. (MUTHOOTFIN) <BR>
            Nahar Spinning Mills Ltd. (NAHARSPING) <BR>
            Nath Bio-Genes (India) Ltd. (NATHBIOGEN) <BR>
            National Aluminium Company Ltd. (NATIONALUM) <BR>
            Navin Fluorine International Ltd. (NAVINFLUOR) <BR>
            NCC Ltd. (NCC) <BR>
            NDTV Ltd. (NDTV) <BR>
            Nestle India Ltd. (NESTLEIND) <BR>
            Network 18 Media & Investments Ltd. (NETWORK18) <BR>
            New India Assurance Company Ltd. (NIACL) <BR>
            Neyveli Lignite Corporation Ltd. (NLCINDIA) <BR>
            Nilkamal Ltd. (NILKAMAL) <BR>
            Nitin Spinners Ltd. (NITINSPIN) <BR>
            NMDC Ltd. (NMDC) <BR>
            NTPC Ltd. (NTPC) <BR>
            Nucleus Software Exports Ltd. (NUCLEUS) <BR>
            Oil & Natural Gas Corporation Ltd. (ONGC) <BR>
            Oil India Ltd. (OIL) <BR>
            One97 Communications Ltd. (PAYTM) <BR>
            Oracle Financial Services Software Ltd. (OFSS) <BR>
            Oriental Bank of Commerce Ltd. (ORIENTBANK) <BR>
            Oriental Carbon & Chemicals Ltd. (OCCL) <BR>
            Orient Electric Ltd. (ORIENTELEC) <BR>
            Orient Refractories Ltd. (ORIENTREF) <BR>
            Oricon Enterprises Ltd. (ORICONENT) <BR>
            Oriental Hotels Ltd. (ORIENTHOT) <BR>
            P&G Hygiene & Health Care Ltd. (PGHH) <BR>
            P.V.R. Ltd. (PVR) <BR>
            Panchsheel Organics Ltd. (PANCHSHEEL) <BR>
            Page Industries Ltd. (PAGEIND) <BR>
            Parag Milk Foods Ltd. (PARAGMILK) <BR>
            Paras Defence and Space Technologies Ltd. (PARAS) <BR>
            Parsvnath Developers Ltd. (PARSVNATH) <BR>
            Persistent Systems Ltd. (PERSISTENT) <BR>
            Petronet LNG Ltd. (PETRONET) <BR>
            Pfizer Ltd. (PFIZER) <BR>
            Phillips Carbon Black Ltd. (PHILIPCARB) <BR>
            Phoenix Mills Ltd. (PHOENIXLTD) <BR>
            Pidilite Industries Ltd. (PIDILITIND) <BR>
            Piramal Enterprises Ltd. (PEL) <BR>
            Pix Transmission Ltd. (PIXTRANS) <BR>
            Plastiblends India Ltd. (PLASTIBLEN) <BR>
            PNB Gilts Ltd. (PNBGILTS) <BR>
            PNC Infratech Ltd. (PNCINFRA) <BR>
            PNB Housing Finance Ltd. (PNBHOUSING) <BR>
            Polycab India Ltd. (POLYCAB) <BR>
            Poly Medicure Ltd. (POLYMED) <BR>
            Power Finance Corporation Ltd. (PFC) <BR>
            Power Grid Corporation of India Ltd. (POWERGRID) <BR>
            PPAP Automotive Ltd. (PPAP) <BR>
            Prabhat Dairy Ltd. (PRABHAT) <BR>
            Praxis Home Retail Ltd. (PRAXIS) <BR>
            Precision Camshafts Ltd. (PRECAM) <BR>
            Prism Johnson Ltd. (PRSMJOHNSON) <BR>
            Pritish Nandy Communications Ltd. (PNC) <BR>
            PSP Projects Ltd. (PSPPROJECT) <BR>
            PTC India Ltd. (PTC) <BR>
            Punjab & Sind Bank (PSB) <BR>
            Punjab National Bank (PNB) <BR>
            Puravankara Ltd. (PURVA) <BR>
            PVR Ltd. (PVR) <BR>
            Quess Corp Ltd. (QUESS) <BR>
            R.S. Software (India) Ltd. (RSSOFTWARE) <BR>
            Radico Khaitan Ltd. (RADICO) <BR>
            Rain Industries Ltd. (RAIN) <BR>
            Rajesh Exports Ltd. (RAJESHEXPO) <BR>
            Rallis India Ltd. (RALLIS) <BR>
            Rane Holdings Ltd. (RANEHOLDIN) <BR>
            Raymond Ltd. (RAYMOND) <BR>
            RBL Bank Ltd. (RBLBANK) <BR>
            Redington (India) Ltd. (REDINGTON) <BR>
            Reliance Industries Ltd. (RELIANCE) <BR>
            Reliance Infrastructure Ltd. (RELINFRA) <BR>
            Reliance Capital Ltd. (RELCAPITAL) <BR>
            Reliance Home Finance Ltd. (RHFL) <BR>
            Reliance Power Ltd. (RPOWER) <BR>
            Religare Enterprises Ltd. (RELIGARE) <BR>
            Renaissance Jewellery Ltd. (RJLT) <BR>
            Repco Home Finance Ltd. (REPCOHOME) <BR>
            RITES Ltd. (RITES) <BR>
            Rossari Biotech Ltd. (ROSSARI) <BR>
            Ruchi Soya Industries Ltd. (RUCHI) <BR>
            Rupa & Company Ltd. (RUPA) <BR>
            S Chand and Company Ltd. (SCHAND) <BR>
            S H Kelkar and Company Ltd. (SHK) <BR>
            Sagar Cements Ltd. (SAGCEM) <BR>
            Saksoft Ltd. (SAKSOFT) <BR>
            Sakthi Sugars Ltd. (SAKHTISUG) <BR>
            SBI Cards and Payment Services Ltd. (SBICARD) <BR>
            SBI Life Insurance Company Ltd. (SBILIFE) <BR>
            Schaeffler India Ltd. (SCHAEFFLER) <BR>
            Schneider Electric Infrastructure Ltd. (SCHNEIDER) <BR>
            Sequent Scientific Ltd. (SEQUENT) <BR>
            Seshasayee Paper & Boards Ltd. (SESHAPAPER) <BR>
            Shankara Building Products Ltd. (SHANKARA) <BR>
            Sharda Cropchem Ltd. (SHARDACROP) <BR>
            Shree Cement Ltd. (SHREECEM) <BR>
            Shree Renuka Sugars Ltd. (RENUKA) <BR>
            Shriram City Union Finance Ltd. (SHRIRAMCIT) <BR>
            Shriram Transport Finance Company Ltd. (SRTRANSFIN) <BR>
            Siemens Ltd. (SIEMENS) <BR>
            Simplex Infrastructures Ltd. (SIMPLEXINF) <BR>
            SIS Ltd. (SIS) <BR>
            SJVN Ltd. (SJVN) <BR>
            SKF India Ltd. (SKFINDIA) <BR>
            Sobha Ltd. (SOBHA) <BR>
            Solar Industries India Ltd. (SOLARINDS) <BR>
            Sona BLW Precision Forgings Ltd. (SONACOMS) <BR>
            SOTL Ltd. (SOTL) <BR>
            Spandana Sphoorty Financial Ltd. (SPANDANA) <BR>
            Sparc Ltd. (SPARC) <BR>
            Spicejet Ltd. (SPICEJET) <BR>
            SREI Infrastructure Finance Ltd. (SREINFRA) <BR>
            SRF Ltd. (SRF) <BR>
            Sterling and Wilson Solar Ltd. (STERLINBIO) <BR>
            Sterlite Technologies Ltd. (STERLITECH) <BR>
            Sudarshan Chemical Industries Ltd. (SUDARSCHEM) <BR>
            Sumitomo Chemical India Ltd. (SUMICHEM) <BR>
            Sun Pharmaceuticals Industries Ltd. (SUNPHARMA) <BR>
            Sundaram Clayton Ltd. (SUNCLAYLTD) <BR>
            Sundaram Finance Ltd. (SUNDARMFIN) <BR>
            Sundram Fasteners Ltd. (SUNDRMFAST) <BR>
            Sunflag Iron & Steel Company Ltd. (SUNFLAG) <BR>
            Sun TV Network Ltd. (SUNTV) <BR>
            Superhouse Ltd. (SUPERHOUSE) <BR>
            Supermax Ltd. (SUPERMAX) <BR>
            Suprajit Engineering Ltd. (SUPRAJIT) <BR>
            Supreme Industries Ltd. (SUPREMEIND) <BR>
            Suzlon Energy Ltd. (SUZLON) <BR>
            Swan Energy Ltd. (SWANENERGY) <BR>
            Symphony Ltd. (SYMPHONY) <BR>
            Syngene International Ltd. (SYNGENE) <BR>
            T.V. Today Network Ltd. (TVTODAY) <BR>
            Tanla Platforms Ltd. (TANLA) <BR>
            Tata Chemicals Ltd. (TATACHEM) <BR>
            Tata Communications Ltd. (TATACOMM) <BR>
            Tata Consumer Products Ltd. (TATACONSUM) <BR>
            Tata Elxsi Ltd. (TATAELXSI) <BR>
            Tata Motors Ltd. (TATAMOTORS) <BR>
            Tata Power Company Ltd. (TATAPOWER) <BR>
            Tata Steel Ltd. (TATASTEEL) <BR>
            TCNS Clothing Co. Ltd. (TCNSBRANDS) <BR>
            TeamLease Services Ltd. (TEAMLEASE) <BR>
            Tech Mahindra Ltd. (TECHM) <BR>
            Tejas Networks Ltd. (TEJASNET) <BR>
            Thermax Ltd. (THERMAX) <BR>
            Thomas Cook (India) Ltd. (THOMASCOOK) <BR>
            Thyrocare Technologies Ltd. (THYROCARE) <BR>
            Timken India Ltd. (TIMKEN) <BR>
            Titan Company Ltd. (TITAN) <BR>
            Torrent Pharmaceuticals Ltd. (TORNTPHARM) <BR>
            Torrent Power Ltd. (TORNTPOWER) <BR>
            Trident Ltd. (TRIDENT) <BR>
            Triveni Turbine Ltd. (TRITURBINE) <BR>
            TTK Prestige Ltd. (TTKPRESTIG) <BR>
            TVS Motor Company Ltd. (TVSMOTOR) <BR>
            UCO Bank (UCOBANK) <BR>
            Ultratech Cement Ltd. (ULTRACEMCO) <BR>
            Union Bank of India (UNIONBANK) <BR>
            United Breweries Ltd. (UBL) <BR>
            United Spirits Ltd. (MCDOWELL-N) <BR>
            UPL Ltd. (UPL) <BR>
            V-Guard Industries Ltd. (VGUARD) <BR>
            Vakrangee Ltd. (VAKRANGEE) <BR>
            Varun Beverages Ltd. (VBL) <BR>
            Vascon Engineers Ltd. (VASCONEQ) <BR>
            Vedanta Ltd. (VEDL) <BR>
            Venky's (India)  Ltd. (VENKEYS) <BR>
            Veritas (India) Ltd. (VERITAS) <BR>
            VIP Industries Ltd. (VIPIND) <BR>
            Vodafone Idea Ltd. (IDEA) <BR>
            Voltas Ltd. (VOLTAS) <BR>
            V-Mart Retail Ltd. (VMART) <BR>
            WABCO India Ltd. (WABCOINDIA) <BR>
            Walchandnagar Industries Ltd. (WALCHANNAG) <BR>
            Welspun Corp Ltd. (WELCORP) <BR>
            Welspun India Ltd. (WELSPUNIND) <BR>
            Westlife Development Ltd. (WESTLIFE) <BR>
            Wipro Ltd. (WIPRO) <BR>
            Wockhardt Ltd. (WOCKPHARMA) <BR>
            Wonderla Holidays Ltd. (WONDERLA) <BR>
            Yes Bank Ltd. (YESBANK) <BR>
            Zensar Technologies Ltd. (ZENSARTECH) <BR>
            Zee Entertainment Enterprises Ltd. (ZEEL) <BR>
            Zee Media Corporation Ltd. (ZEEMEDIA) <BR>
            Zydus Wellness Ltd. (ZYDUSWELL) <BR>
       
                                        
</div>
</body>
</html>
