<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        footer {
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px 0;
            width: 100%;
        }

        footer p {
            margin: 0;
        }
    </style>
    <style>
        /* Add space between <td> elements */
        td {
            padding-right: 20px; /* Adjust as needed */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/input_symbol">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/delivery">Delivery</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/intraday">Intraday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show_watchlist">Watchlist</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <table>
        <tr>
            <td>
        <h1>Delivery </h1>
        <form action="/delivery" method="GET">
            <div class="form-group">
                <label for="symbol">Enter Symbols (comma-separated in captial with .NS at last ex: BPCL.NS):</label><br>
                <input type="text" id="symbols" name="symbols" value="INFY.NS" required><br><br>
                
                <button type="submit"  class="btn btn-success">Delivery</button>
            </div>

        </form>
    </td>
    <td>
        <h1>Intraday </h1>
        <form action="/intraday" method="GET">
            <div class="form-group">
                <label for="symbol">Enter Symbols (comma-separated in captial with .NS at last ex: BPCL.NS):</label><br>
                <input type="text" id="symbols" name="symbols" value="INFY.NS,RELIANCE.NS" required><br><br>
                
                <button type="submit"  class="btn btn-success">Intraday</button>
            </div>

        </form>
    </td>
    
    </tr>
</table>
    </div>
    <div class="container"><br><br><br>
        <b>Nifty 50</b><br>
        Adani Ports & SEZ - ADANIPORTS <br>
Asian Paints - ASIANPAINT <br>
Axis Bank - AXISBANK <br>
Bajaj Auto - BAJAJ-AUTO <br>
Bajaj Finance - BAJFINANCE <br>
Bajaj Finserv - BAJAJFINSV <br>
Bharti Airtel - BHARTIARTL <br>
Britannia Industries - BRITANNIA <br>
Cipla - CIPLA <br>
Coal India - COALINDIA <br>
Divi's Laboratories - DIVISLAB <br>
Dr. Reddy's Laboratories - DRREDDY <br>
Eicher Motors - EICHERMOT <br>
Grasim Industries - GRASIM <br>
HCL Technologies - HCLTECH <br>
HDFC - HDFC <br>
HDFC Bank - HDFCBANK <br>
Hero MotoCorp - HEROMOTOCO <br>
Hindalco Industries - HINDALCO <br>
Hindustan Unilever - HINDUNILVR <br>
ICICI Bank - ICICIBANK <br>
IndusInd Bank - INDUSINDBK <br>
Infosys - INFY <br>
ITC - ITC <br>
JSW Steel - JSWSTEEL <br>
Kotak Mahindra Bank - KOTAKBANK <br>
Larsen & Toubro - LT <br>
Mahindra & Mahindra - M&M <br>
Marico - MARICO <br>
Maruti Suzuki India - MARUTI <br>
Nestle India - NESTLEIND <br>
NTPC - NTPC <br>
Oil & Natural Gas Corporation - ONGC <br>
Power Grid Corporation of India - POWERGRID <br>
Reliance Industries - RELIANCE <br>
Shree Cement - SHREECEM <br>
Sun Pharmaceutical Industries - SUNPHARMA <br>
Tata Consumer Products - TATACONSUM <br>
Tata Motors - TATAMOTORS <br>
Tata Steel - TATASTEEL <br>
Tech Mahindra - TECHM <br>
Titan Company - TITAN <br>
UltraTech Cement - ULTRACEMCO <br>
United Phosphorus Limited - UPL <br>
Wipro - WIPRO <br>
Adani Enterprises - ADANIENT <br>
Hindustan Petroleum Corporation - HINDPETRO <br>
Indian Oil Corporation - IOC <br>
Power Finance Corporation - PFC <br>
Zee Entertainment Enterprises - ZEEL <br>
        <b>Nifty 500</b><br>
        3M India Ltd. (3MINDIA.NS) <BR>
            Aarti Drugs Ltd. (AARTIDRUGS.NS) <BR>
            Aarti Industries Ltd. (AARTIIND.NS) <BR>
            Aavas Financiers Ltd. (AAVAS.NS) <BR>
            ABB India Ltd. (ABB.NS) <BR>
            Abbott India Ltd. (ABBOTINDIA.NS) <BR>
            Aditya Birla Capital Ltd. (ABCAPITAL.NS) <BR>
            Aditya Birla Fashion and Retail Ltd. (ABFRL.NS) <BR>
            ACC Ltd. (ACC.NS) <BR>
            Adani Enterprises Ltd. (ADANIENT.NS) <BR>
            Adani Green Energy Ltd. (ADANIGREEN.NS) <BR>
            Adani Ports and Special Economic Zone Ltd. (ADANIPORTS.NS) <BR>
            Adani Power Ltd. (ADANIPOWER.NS) <BR>
            Adani Transmission Ltd. (ADANITRANS.NS) <BR>
            Alkem Laboratories Ltd. (ALKEM.NS) <BR>
            Alkyl Amines Chemicals Ltd. (ALKYLAMINE.NS) <BR>
            Allcargo Logistics Ltd. (ALLCARGO.NS) <BR>
            Amara Raja Batteries Ltd. (AMARAJABAT.NS) <BR>
            Ambuja Cements Ltd. (AMBUJACEM.NS) <BR>
            Angel One Ltd. (ANGELONE.NS) <BR>
            Alembic Pharmaceuticals Ltd. (APLLTD.NS) <BR>
            Apollo Hospitals Enterprise Ltd. (APOLLOHOSP.NS) <BR>
            Apollo Tyres Ltd. (APOLLOTYRE.NS) <BR>
            Ashok Leyland Ltd. (ASHOKLEY.NS) <BR>
            Asian Paints Ltd. (ASIANPAINT.NS) <BR>
            Astral Ltd. (ASTRAL.NS) <BR>
            Atul Ltd. (ATUL.NS) <BR>
            AU Small Finance Bank Ltd. (AUBANK.NS) <BR>
            Aurobindo Pharma Ltd. (AUROPHARMA.NS) <BR>
            Avanti Feeds Ltd. (AVANTIFEED.NS) <BR>
            Adani Wilmar Ltd. (AWL.NS) <BR>
            Axis Bank Ltd. (AXISBANK.NS) <BR>
            Bajaj Auto Ltd. (BAJAJ-AUTO.NS) <BR>
            Bajaj Finserv Ltd. (BAJAJFINSV.NS) <BR>
            Bajaj Holdings & Investment Ltd. (BAJAJHLDNG.NS) <BR>
            Bajaj Finance Ltd. (BAJFINANCE.NS) <BR>
            Balaji Amines Ltd. (BALAMINES.NS) <BR>
            Balkrishna Industries Ltd. (BALKRISIND.NS) <BR>
            Balrampur Chini Mills Ltd. (BALRAMCHIN.NS) <BR>
            Bandhan Bank Ltd. (BANDHANBNK.NS) <BR>
            Bank of Baroda (BANKBARODA.NS) <BR>
            Bank of India (BANKINDIA.NS) <BR>
            BASF India Ltd. (BASF.NS) <BR>
            Bata India Ltd. (BATAINDIA.NS) <BR>
            Bayer Cropscience Ltd. (BAYERCROP.NS) <BR>
            Bombay Burmah Trading Corporation Ltd. (BBTC.NS) <BR>
            Bharat Dynamics Ltd. (BDL.NS) <BR>
            Bharat Electronics Ltd. (BEL.NS) <BR>
            BEML Ltd. (BEML.NS) <BR>
            Berger Paints India Ltd. (BERGEPAINT.NS) <BR>
            Bharat Forge Ltd. (BHARATFORG.NS) <BR>
            Bharti Airtel Ltd. (BHARTIARTL.NS) <BR>
            Bharat Heavy Electricals Ltd. (BHEL.NS) <BR>
            Biocon Ltd. (BIOCON.NS) <BR>
            Birla Corporation Ltd. (BIRLACORPN.NS) <BR>
            Bliss GVS Pharma Ltd. (BLISSGVS.NS) <BR>
            Blue Dart Express Ltd. (BLUEDART.NS) <BR>
            Blue Star Ltd. (BLUESTARCO.NS) <BR>
            Bombay Dyeing and Manufacturing Company Ltd. (BOMDYEING.NS) <BR>
            Borosil Renewables Ltd. (BORORENEW.NS) <BR>
            Bosch Ltd. (BOSCHLTD.NS) <BR>
            Bharat Petroleum Corporation Ltd. (BPCL.NS) <BR>
            Brigade Enterprises Ltd. (BRIGADE.NS) <BR>
            Britannia Industries Ltd. (BRITANNIA.NS) <BR>
            BSE Ltd. (BSE.NS) <BR>
            Birlasoft Ltd. (BSOFT.NS) <BR>
            Restaurant Brands Asia Ltd. (BURGERKING.NS) <BR>
            Cadila Healthcare Ltd. (CADILAHC.NS) <BR>
            Camlin Fine Sciences Ltd. (CAMLINFINE.NS) <BR>
            Canara Bank (CANBK.NS) <BR>
            Can Fin Homes Ltd. (CANFINHOME.NS) <BR>
            Caplin Point Laboratories Ltd. (CAPLIPOINT.NS) <BR>
            Carborundum Universal Ltd. (CARBORUNIV.NS) <BR>
            Castrol India Ltd. (CASTROLIND.NS) <BR>
            CCL Products (India.NS) Ltd. (CCL.NS) <BR>
            Central Depository Services (India.NS) Ltd. (CDSL.NS) <BR>
            CEAT Ltd. (CEATLTD.NS) <BR>
            Central Bank of India (CENTRALBK.NS) <BR>
            Century Plyboards (India.NS) Ltd. (CENTURYPLY.NS) <BR>
            Century Textiles and Industries Ltd. (CENTURYTEX.NS) <BR>
            Cera Sanitaryware Ltd. (CERA.NS) <BR>
            CESC Ltd. (CESC.NS) <BR>
            CG Power and Industrial Solutions Ltd. (CGPOWER.NS) <BR>
            Chalet Hotels Ltd. (CHALET.NS) <BR>
            Chambal Fertilizers & Chemicals Ltd. (CHAMBLFERT.NS) <BR>
            Cholamandalam Investment and Finance Company Ltd. (CHOLAFIN.NS) <BR>
            Cipla Ltd. (CIPLA.NS) <BR>
            Clean Science and Technology Ltd. (CLEAN.NS) <BR>
            Coal India Ltd. (COALINDIA.NS) <BR>
            Cochin Shipyard Ltd. (COCHINSHIP.NS) <BR>
            Coforge Ltd. (COFORGE.NS) <BR>
            Colgate Palmolive (India.NS) Ltd. (COLPAL.NS) <BR>
            Container Corporation of India Ltd. (CONCOR.NS) <BR>
            CreditAccess Grameen Ltd. (CREDITACC.NS) <BR>
            CRISIL Ltd. (CRISIL.NS) <BR>
            CSB Bank Ltd. (CSBBANK.NS) <BR>
            City Union Bank Ltd. (CUB.NS) <BR>
            Cummins India Ltd. (CUMMINSIND.NS) <BR>
            Cyient Ltd. (CYIENT.NS) <BR>
            Dabur India Ltd. (DABUR.NS) <BR>
            Dalmia Bharat Ltd. (DALBHARAT.NS) <BR>
            DCB Bank Ltd. (DCBBANK.NS) <BR>
            DCM Shriram Ltd. (DCMSHRIRAM.NS) <BR>
            Dhani Services Ltd. (DHANI.NS) <BR>
            Dhanuka Agritech Ltd. (DHANUKA.NS) <BR>
            DB Corp Ltd. (DBCORP.NS) <BR>
            DB Realty Ltd. (DBREALTY.NS) <BR>
            Deepak Fertilisers and Petrochemicals Corp Ltd. (DEEPAKFERT.NS) <BR>
            Deepak Nitrite Ltd. (DEEPAKNTR.NS) <BR>
            Delhivery Ltd. (DELHIVERY.NS) <BR>
            Delta Corp Ltd. (DELTACORP.NS) <BR>
            Dhanlaxmi Bank Ltd. (DHANBANK.NS) <BR>
            Dilip Buildcon Ltd. (DBL.NS) <BR>
            Dixon Technologies (India.NS) Ltd. (DIXON.NS) <BR>
            DLF Ltd. (DLF.NS) <BR>
            Dr. Lal Path Labs Ltd. (LALPATHLAB.NS) <BR>
            Dr. Reddy's Laboratories Ltd. (DRREDDY.NS) <BR>
            Edelweiss Financial Services Ltd. (EDELWEISS.NS) <BR>
            Eicher Motors Ltd. (EICHERMOT.NS) <BR>
            Elgi Equipments Ltd. (ELGIEQUIP.NS) <BR>
            Emami Ltd. (EMAMILTD.NS) <BR>
            Endurance Technologies Ltd. (ENDURANCE.NS) <BR>
            Engineers India Ltd. (ENGINERSIN.NS) <BR>
            EPL Ltd. (EPL.NS) <BR>
            Equitas Small Finance Bank Ltd. (EQUITASBNK.NS) <BR>
            Equitas Holdings Ltd. (EQUITAS.NS) <BR>
            ERIS Lifesciences Ltd. (ERIS.NS) <BR>
            Eris Pharmaceuticals Ltd. (ERISPHARMA.NS) <BR>
            Escorts Ltd. (ESCORTS.NS) <BR>
            Exide Industries Ltd. (EXIDEIND.NS) <BR>
            FDC Ltd. (FDC.NS) <BR>
            Finolex Cables Ltd. (FINCABLES.NS) <BR>
            Finolex Industries Ltd. (FINPIPE.NS) <BR>
            Firstsource Solutions Ltd. (FSL.NS) <BR>
            Fortis Healthcare Ltd. (FORTIS.NS) <BR>
            Foseco India Ltd. (FOSECOIND.NS) <BR>
            Future Retail Ltd. (FRETAIL.NS) <BR>
            GAIL (India.NS) Ltd. (GAIL.NS) <BR>
            Galaxy Surfactants Ltd. (GALAXYSURF.NS) <BR>
            Garware Technical Fibres Ltd. (GARFIBRES.NS) <BR>
            Gateway Distriparks Ltd. (GATEWAY.NS) <BR>
            GE Power India Ltd. (GEPIL.NS) <BR>
            Gland Pharma Ltd. (GLAND.NS) <BR>
            Glaxosmithkline Pharmaceuticals Ltd. (GLAXO.NS) <BR>
            Glenmark Pharmaceuticals Ltd. (GLENMARK.NS) <BR>
            Godfrey Phillips India Ltd. (GODFRYPHLP.NS) <BR>
            Godrej Agrovet Ltd. (GODREJAGRO.NS) <BR>
            Godrej Consumer Products Ltd. (GODREJCP.NS) <BR>
            Godrej Industries Ltd. (GODREJIND.NS) <BR>
            Godrej Properties Ltd. (GODREJPROP.NS) <BR>
            Granules India Ltd. (GRANULES.NS) <BR>
            Graphite India Ltd. (GRAPHITE.NS) <BR>
            Grasim Industries Ltd. (GRASIM.NS) <BR>
            Greaves Cotton Ltd. (GREAVESCOT.NS) <BR>
            Greenlam Industries Ltd. (GREENLAM.NS) <BR>
            Greenpanel Industries Ltd. (GREENPANEL.NS) <BR>
            Grindwell Norton Ltd. (GRINDWELL.NS) <BR>
            GSK Consumer Healthcare Ltd. (GSFC.NS) <BR>
            Gujarat Alkalies and Chemicals Ltd. (GUJALKALI.NS) <BR>
            Gujarat Ambuja Exports Ltd. (GAEL.NS) <BR>
            Gujarat Fluorochemicals Ltd. (GFLLIMITED.NS) <BR>
            Gujarat Gas Ltd. (GUJGASLTD.NS) <BR>
            Gujarat Narmada Valley Fertilizers & Chemicals Ltd. (GNFC.NS) <BR>
            Gujarat State Fertilizers & Chemicals Ltd. (GSFC.NS) <BR>
            Gujarat State Petronet Ltd. (GSPL.NS) <BR>
            Gujarat Themis Biosyn Ltd. (GUJTHEM.NS) <BR>
            Happiest Minds Technologies Ltd. (HAPPSTMNDS.NS) <BR>
            Hathway Cable & Datacom Ltd. (HATHWAY.NS) <BR>
            Havells India Ltd. (HAVELLS.NS) <BR>
            HDFC Asset Management Company Ltd. (HDFCAMC.NS) <BR>
            HDFC Bank Ltd. (HDFCBANK.NS) <BR>
            HDFC Life Insurance Company Ltd. (HDFCLIFE.NS) <BR>
            Healthcare Global Enterprises Ltd. (HCG.NS) <BR>
            HeidelbergCement India Ltd. (HEIDELBERG.NS) <BR>
            Hester Biosciences Ltd. (HESTERBIO.NS) <BR>
            Hexaware Technologies Ltd. (HEXAWARE.NS) <BR>
            Hindalco Industries Ltd. (HINDALCO.NS) <BR>
            Hindustan Aeronautics Ltd. (HAL.NS) <BR>
            Hindustan Copper Ltd. (HINDCOPPER.NS) <BR>
            Hindustan Media Ventures Ltd. (HMVL.NS) <BR>
            Hindustan Petroleum Corporation Ltd. (HINDPETRO.NS) <BR>
            Hindustan Unilever Ltd. (HINDUNILVR.NS) <BR>
            Hindustan Zinc Ltd. (HINDZINC.NS) <BR>
            Housing Development Finance Corporation Ltd. (HDFC.NS) <BR>
            HPL Electric & Power Ltd. (HPL.NS) <BR>
            HSIL Ltd. (HSIL.NS) <BR>
            Huhtamaki India Ltd. (HUHTAMAKI.NS) <BR>
            ICICI Bank Ltd. (ICICIBANK.NS) <BR>
            ICICI Lombard General Insurance Company Ltd. (ICICIGI.NS) <BR>
            ICICI Prudential Life Insurance Company Ltd. (ICICIPRULI.NS) <BR>
            IDBI Bank Ltd. (IDBI.NS) <BR>
            IDFC First Bank Ltd. (IDFCFIRSTB.NS) <BR>
            IDFC Ltd. (IDFC.NS) <BR>
            IFB Industries Ltd. (IFBIND.NS) <BR>
            IIFL Finance Ltd. (IIFL.NS) <BR>
            Indiabulls Housing Finance Ltd. (IBULHSGFIN.NS) <BR>
            Indiabulls Real Estate Ltd. (IBREALEST.NS) <BR>
            Indian Bank (INDIANB.NS) <BR>
            Indian Energy Exchange Ltd. (IEX.NS) <BR>
            Indian Hotels Company Ltd. (INDHOTEL.NS) <BR>
            Indian Oil Corporation Ltd. (IOC.NS) <BR>
            Indian Overseas Bank (IOB.NS) <BR>
            Indoco Remedies Ltd. (INDOCO.NS) <BR>
            Indraprastha Gas Ltd. (IGL.NS) <BR>
            IndusInd Bank Ltd. (INDUSINDBK.NS) <BR>
            Indus Towers Ltd. (INDUSTOWER.NS) <BR>
            Info Edge (India.NS) Ltd. (NAUKRI.NS) <BR>
            Infosys Ltd. (INFY.NS) <BR>
            INOX Leisure Ltd.
            Ipca Laboratories Ltd. (IPCALAB.NS) <BR>
            IRB Infrastructure Developers Ltd. (IRB.NS) <BR>
            IRCON International Ltd. (IRCON.NS) <BR>
            ITC Ltd. (ITC.NS) <BR>
            ITI Ltd. (ITI.NS) <BR>
            J.B. Chemicals & Pharmaceuticals Ltd. (JBCHEPHARM.NS) <BR>
            J.K. Cement Ltd. (JKCEMENT.NS) <BR>
            J.K. Paper Ltd. (JKPAPER.NS) <BR>
            J.M. Financial Ltd. (JMFINANCIL.NS) <BR>
            Jaiprakash Associates Ltd. (JPASSOCIAT.NS) <BR>
            Jain Irrigation Systems Ltd. (JISLJALEQS.NS) <BR>
            Jammu & Kashmir Bank Ltd. (J&KBANK.NS) <BR>
            JB Chemicals & Pharmaceuticals Ltd. (JBCHEPHARM.NS) <BR>
            Jet Airways (India.NS) Ltd. (JETAIRWAYS.NS) <BR>
            Jindal Poly Films Ltd. (JINDALPOLY.NS) <BR>
            Jindal Saw Ltd. (JINDALSAW.NS) <BR>
            Jindal Stainless (Hisar.NS) <BR> Ltd. (JSLHISAR.NS) <BR>
            Jindal Steel & Power Ltd. (JINDALSTEL.NS) <BR>
            JK Lakshmi Cement Ltd. (JKLAKSHMI.NS) <BR>
            JK Tyre & Industries Ltd. (JKTYRE.NS) <BR>
            Jubilant Foodworks Ltd. (JUBLFOOD.NS) <BR>
            Jubilant Ingrevia Ltd. (JUBLINDS.NS) <BR>
            Jubilant Pharmova Ltd. (JUBLPHARMA.NS) <BR>
            Just Dial Ltd. (JUSTDIAL.NS) <BR>
            K.P.R. Mill Ltd. (KPRMILL.NS) <BR>
            Kalpataru Power Transmission Ltd. (KALPATPOWR.NS) <BR>
            Kansai Nerolac Paints Ltd. (KANSAINER.NS) <BR>
            Karur Vysya Bank Ltd. (KARURVYSYA.NS) <BR>
            Kaveri Seed Company Ltd. (KSCL.NS) <BR>
            KEI Industries Ltd. (KEI.NS) <BR>
            Kesoram Industries Ltd. (KESORAMIND.NS) <BR>
            Kewal Kiran Clothing Ltd. (KKCL.NS) <BR>
            Khadim India Ltd. (KHADIM.NS) <BR>
            KNR Constructions Ltd. (KNRCON.NS) <BR>
            Kohinoor Foods Ltd. (KOHINOOR.NS) <BR>
            Kolte Patil Developers Ltd. (KOLTEPATIL.NS) <BR>
            Kopran Ltd. (KOPRAN.NS) <BR>
            Kotak Mahindra Bank Ltd. (KOTAKBANK.NS) <BR>
            Krishna Institute of Medical Sciences Ltd. (KIMS.NS) <BR>
            KSB Ltd. (KSB.NS) <BR>
            Ksolves India Ltd. (KSOLVES.NS) <BR>
            K.P. Energy Ltd. (KPEL.NS) <BR>
            KPI Global Infrastructure Ltd. (KPIGLOBAL.NS) <BR>
            Kridhan Infra Ltd. (KRIDHANINF.NS) <BR>
            KRBL Ltd. (KRBL.NS) <BR>
            Kridhan Infra Ltd. (KRIDHANINFRA.NS) <BR>
            KSB Pumps Ltd. (KSB.NS) <BR>
            KSL and Industries Ltd. (KSL.NS) <BR>
            L&T Finance Holdings Ltd. (L&TFH.NS) <BR>
            L&T Technology Services Ltd. (LTTS.NS) <BR>
            Lakshmi Machine Works Ltd. (LAXMIMACH.NS) <BR>
            Laurus Labs Ltd. (LAURUSLABS.NS) <BR>
            LGB Forge Ltd. (LGBFORGE.NS) <BR>
            Liberty Shoes Ltd. (LIBERTSHOE.NS) <BR>
            LIC Housing Finance Ltd. (LICHSGFIN.NS) <BR>
            Linde India Ltd. (LINDEINDIA.NS) <BR>
            Lloyds Steels Industries Ltd. (LSIL.NS) <BR>
            Lohia Securities Ltd. (LOHIASEC.NS) <BR>
            Lumax Auto Technologies Ltd. (LUMAXTECH.NS) <BR>
            Lupin Ltd. (LUPIN.NS) <BR>
            M&M Financial Services Ltd. (M&MFIN.NS) <BR>
            Mahindra & Mahindra Ltd. (M&M.NS) <BR>
            Mahindra CIE Automotive Ltd. (MAHINDCIE.NS) <BR>
            Mahindra Holidays & Resorts India Ltd. (MHRIL.NS) <BR>
            Mahindra Lifespace Developers Ltd. (MAHLIFE.NS) <BR>
            Mahindra Logistics Ltd. (MAHLOG.NS) <BR>
            Mangalam Cement Ltd. (MANGLMCEM.NS) <BR>
            Manpasand Beverages Ltd. (MANPASAND.NS) <BR>
            Marico Ltd. (MARICO.NS) <BR>
            Maruti Suzuki India Ltd. (MARUTI.NS) <BR>
            Mas Financial Services Ltd. (MASFIN.NS) <BR>
            Mastek Ltd. (MASTEK.NS) <BR>
            Matrimony.com Ltd. (MATRIMONY.NS) <BR>
            Max Financial Services Ltd. (MFSL.NS) <BR>
            Mazagon Dock Shipbuilders Ltd. (MAZDOCK.NS) <BR>
            Mcleod Russel India Ltd. (MCLEODRUSS.NS) <BR>
            Mcnally Bharat Engineering Company Ltd. (MBECL.NS) <BR>
            MEP Infrastructure Developers Ltd. (MEP.NS) <BR>
            Metropolis Healthcare Ltd. (METROPOLIS.NS) <BR>
            MindTree Ltd. (MINDTREE.NS) <BR>
            Mishra Dhatu Nigam Ltd. (MIDHANI.NS) <BR>
            Minda Industries Ltd. (MINDAIND.NS) <BR>
            MIRC Electronics Ltd. (MIRCELECTR.NS) <BR>
            Mirza International Ltd. (MIRZAINT.NS) <BR>
            MM Forgings Ltd. (MMFL.NS) <BR>
            MMTC Ltd. (MMTC.NS) <BR>
            MOIL Ltd. (MOIL.NS) <BR>
            Monnet Ispat & Energy Ltd. (AIONJSW.NS) <BR>
            Motherson Sumi Systems Ltd. (MOTHERSUMI.NS) <BR>
            Motherson Sumi Wiring India Ltd. (MOTHERSON.NS) <BR>
            Motilal Oswal Financial Services Ltd. (MOTILALOFS.NS) <BR>
            Mphasis Ltd. (MPHASIS.NS) <BR>
            MRO-TEK Realty Ltd. (MRO-TEK.NS) <BR>
            Muthoot Capital Services Ltd. (MUTHOOTCAP.NS) <BR>
            Muthoot Finance Ltd. (MUTHOOTFIN.NS) <BR>
            Nahar Spinning Mills Ltd. (NAHARSPING.NS) <BR>
            Nath Bio-Genes (India.NS) Ltd. (NATHBIOGEN.NS) <BR>
            National Aluminium Company Ltd. (NATIONALUM.NS) <BR>
            Navin Fluorine International Ltd. (NAVINFLUOR.NS) <BR>
            NCC Ltd. (NCC.NS) <BR>
            NDTV Ltd. (NDTV.NS) <BR>
            Nestle India Ltd. (NESTLEIND.NS) <BR>
            Network 18 Media & Investments Ltd. (NETWORK18.NS) <BR>
            New India Assurance Company Ltd. (NIACL.NS) <BR>
            Neyveli Lignite Corporation Ltd. (NLCINDIA.NS) <BR>
            Nilkamal Ltd. (NILKAMAL.NS) <BR>
            Nitin Spinners Ltd. (NITINSPIN.NS) <BR>
            NMDC Ltd. (NMDC.NS) <BR>
            NTPC Ltd. (NTPC.NS) <BR>
            Nucleus Software Exports Ltd. (NUCLEUS.NS) <BR>
            Oil & Natural Gas Corporation Ltd. (ONGC.NS) <BR>
            Oil India Ltd. (OIL.NS) <BR>
            One97 Communications Ltd. (PAYTM.NS) <BR>
            Oracle Financial Services Software Ltd. (OFSS.NS) <BR>
            Oriental Bank of Commerce Ltd. (ORIENTBANK.NS) <BR>
            Oriental Carbon & Chemicals Ltd. (OCCL.NS) <BR>
            Orient Electric Ltd. (ORIENTELEC.NS) <BR>
            Orient Refractories Ltd. (ORIENTREF.NS) <BR>
            Oricon Enterprises Ltd. (ORICONENT.NS) <BR>
            Oriental Hotels Ltd. (ORIENTHOT.NS) <BR>
            P&G Hygiene & Health Care Ltd. (PGHH.NS) <BR>
            P.V.R. Ltd. (PVR.NS) <BR>
            Panchsheel Organics Ltd. (PANCHSHEEL.NS) <BR>
            Page Industries Ltd. (PAGEIND.NS) <BR>
            Parag Milk Foods Ltd. (PARAGMILK.NS) <BR>
            Paras Defence and Space Technologies Ltd. (PARAS.NS) <BR>
            Parsvnath Developers Ltd. (PARSVNATH.NS) <BR>
            Persistent Systems Ltd. (PERSISTENT.NS) <BR>
            Petronet LNG Ltd. (PETRONET.NS) <BR>
            Pfizer Ltd. (PFIZER.NS) <BR>
            Phillips Carbon Black Ltd. (PHILIPCARB.NS) <BR>
            Phoenix Mills Ltd. (PHOENIXLTD.NS) <BR>
            Pidilite Industries Ltd. (PIDILITIND.NS) <BR>
            Piramal Enterprises Ltd. (PEL.NS) <BR>
            Pix Transmission Ltd. (PIXTRANS.NS) <BR>
            Plastiblends India Ltd. (PLASTIBLEN.NS) <BR>
            PNB Gilts Ltd. (PNBGILTS.NS) <BR>
            PNC Infratech Ltd. (PNCINFRA.NS) <BR>
            PNB Housing Finance Ltd. (PNBHOUSING.NS) <BR>
            Polycab India Ltd. (POLYCAB.NS) <BR>
            Poly Medicure Ltd. (POLYMED.NS) <BR>
            Power Finance Corporation Ltd. (PFC.NS) <BR>
            Power Grid Corporation of India Ltd. (POWERGRID.NS) <BR>
            PPAP Automotive Ltd. (PPAP.NS) <BR>
            Prabhat Dairy Ltd. (PRABHAT.NS) <BR>
            Praxis Home Retail Ltd. (PRAXIS.NS) <BR>
            Precision Camshafts Ltd. (PRECAM.NS) <BR>
            Prism Johnson Ltd. (PRSMJOHNSON.NS) <BR>
            Pritish Nandy Communications Ltd. (PNC.NS) <BR>
            PSP Projects Ltd. (PSPPROJECT.NS) <BR>
            PTC India Ltd. (PTC.NS) <BR>
            Punjab & Sind Bank (PSB.NS) <BR>
            Punjab National Bank (PNB.NS) <BR>
            Puravankara Ltd. (PURVA.NS) <BR>
            PVR Ltd. (PVR.NS) <BR>
            Quess Corp Ltd. (QUESS.NS) <BR>
            R.S. Software (India.NS) Ltd. (RSSOFTWARE.NS) <BR>
            Radico Khaitan Ltd. (RADICO.NS) <BR>
            Rain Industries Ltd. (RAIN.NS) <BR>
            Rajesh Exports Ltd. (RAJESHEXPO.NS) <BR>
            Rallis India Ltd. (RALLIS.NS) <BR>
            Rane Holdings Ltd. (RANEHOLDIN.NS) <BR>
            Raymond Ltd. (RAYMOND.NS) <BR>
            RBL Bank Ltd. (RBLBANK.NS) <BR>
            Redington (India.NS) Ltd. (REDINGTON.NS) <BR>
            Reliance Industries Ltd. (RELIANCE.NS) <BR>
            Reliance Infrastructure Ltd. (RELINFRA.NS) <BR>
            Reliance Capital Ltd. (RELCAPITAL.NS) <BR>
            Reliance Home Finance Ltd. (RHFL.NS) <BR>
            Reliance Power Ltd. (RPOWER.NS) <BR>
            Religare Enterprises Ltd. (RELIGARE.NS) <BR>
            Renaissance Jewellery Ltd. (RJLT.NS) <BR>
            Repco Home Finance Ltd. (REPCOHOME.NS) <BR>
            RITES Ltd. (RITES.NS) <BR>
            Rossari Biotech Ltd. (ROSSARI.NS) <BR>
            Ruchi Soya Industries Ltd. (RUCHI.NS) <BR>
            Rupa & Company Ltd. (RUPA.NS) <BR>
            S Chand and Company Ltd. (SCHAND.NS) <BR>
            S H Kelkar and Company Ltd. (SHK.NS) <BR>
            Sagar Cements Ltd. (SAGCEM.NS) <BR>
            Saksoft Ltd. (SAKSOFT.NS) <BR>
            Sakthi Sugars Ltd. (SAKHTISUG.NS) <BR>
            SBI Cards and Payment Services Ltd. (SBICARD.NS) <BR>
            SBI Life Insurance Company Ltd. (SBILIFE.NS) <BR>
            Schaeffler India Ltd. (SCHAEFFLER.NS) <BR>
            Schneider Electric Infrastructure Ltd. (SCHNEIDER.NS) <BR>
            Sequent Scientific Ltd. (SEQUENT.NS) <BR>
            Seshasayee Paper & Boards Ltd. (SESHAPAPER.NS) <BR>
            Shankara Building Products Ltd. (SHANKARA.NS) <BR>
            Sharda Cropchem Ltd. (SHARDACROP.NS) <BR>
            Shree Cement Ltd. (SHREECEM.NS) <BR>
            Shree Renuka Sugars Ltd. (RENUKA.NS) <BR>
            Shriram City Union Finance Ltd. (SHRIRAMCIT.NS) <BR>
            Shriram Transport Finance Company Ltd. (SRTRANSFIN.NS) <BR>
            Siemens Ltd. (SIEMENS.NS) <BR>
            Simplex Infrastructures Ltd. (SIMPLEXINF.NS) <BR>
            SIS Ltd. (SIS.NS) <BR>
            SJVN Ltd. (SJVN.NS) <BR>
            SKF India Ltd. (SKFINDIA.NS) <BR>
            Sobha Ltd. (SOBHA.NS) <BR>
            Solar Industries India Ltd. (SOLARINDS.NS) <BR>
            Sona BLW Precision Forgings Ltd. (SONACOMS.NS) <BR>
            SOTL Ltd. (SOTL.NS) <BR>
            Spandana Sphoorty Financial Ltd. (SPANDANA.NS) <BR>
            Sparc Ltd. (SPARC.NS) <BR>
            Spicejet Ltd. (SPICEJET.NS) <BR>
            SREI Infrastructure Finance Ltd. (SREINFRA.NS) <BR>
            SRF Ltd. (SRF.NS) <BR>
            Sterling and Wilson Solar Ltd. (STERLINBIO.NS) <BR>
            Sterlite Technologies Ltd. (STERLITECH.NS) <BR>
            Sudarshan Chemical Industries Ltd. (SUDARSCHEM.NS) <BR>
            Sumitomo Chemical India Ltd. (SUMICHEM.NS) <BR>
            Sun Pharmaceuticals Industries Ltd. (SUNPHARMA.NS) <BR>
            Sundaram Clayton Ltd. (SUNCLAYLTD.NS) <BR>
            Sundaram Finance Ltd. (SUNDARMFIN.NS) <BR>
            Sundram Fasteners Ltd. (SUNDRMFAST.NS) <BR>
            Sunflag Iron & Steel Company Ltd. (SUNFLAG.NS) <BR>
            Sun TV Network Ltd. (SUNTV.NS) <BR>
            Superhouse Ltd. (SUPERHOUSE.NS) <BR>
            Supermax Ltd. (SUPERMAX.NS) <BR>
            Suprajit Engineering Ltd. (SUPRAJIT.NS) <BR>
            Supreme Industries Ltd. (SUPREMEIND.NS) <BR>
            Suzlon Energy Ltd. (SUZLON.NS) <BR>
            Swan Energy Ltd. (SWANENERGY.NS) <BR>
            Symphony Ltd. (SYMPHONY.NS) <BR>
            Syngene International Ltd. (SYNGENE.NS) <BR>
            T.V. Today Network Ltd. (TVTODAY.NS) <BR>
            Tanla Platforms Ltd. (TANLA.NS) <BR>
            Tata Chemicals Ltd. (TATACHEM.NS) <BR>
            Tata Communications Ltd. (TATACOMM.NS) <BR>
            Tata Consumer Products Ltd. (TATACONSUM.NS) <BR>
            Tata Elxsi Ltd. (TATAELXSI.NS) <BR>
            Tata Motors Ltd. (TATAMOTORS.NS) <BR>
            Tata Power Company Ltd. (TATAPOWER.NS) <BR>
            Tata Steel Ltd. (TATASTEEL.NS) <BR>
            TCNS Clothing Co. Ltd. (TCNSBRANDS.NS) <BR>
            TeamLease Services Ltd. (TEAMLEASE.NS) <BR>
            Tech Mahindra Ltd. (TECHM.NS) <BR>
            Tejas Networks Ltd. (TEJASNET.NS) <BR>
            Thermax Ltd. (THERMAX.NS) <BR>
            Thomas Cook (India.NS) Ltd. (THOMASCOOK.NS) <BR>
            Thyrocare Technologies Ltd. (THYROCARE.NS) <BR>
            Timken India Ltd. (TIMKEN.NS) <BR>
            Titan Company Ltd. (TITAN.NS) <BR>
            Torrent Pharmaceuticals Ltd. (TORNTPHARM.NS) <BR>
            Torrent Power Ltd. (TORNTPOWER.NS) <BR>
            Trident Ltd. (TRIDENT.NS) <BR>
            Triveni Turbine Ltd. (TRITURBINE.NS) <BR>
            TTK Prestige Ltd. (TTKPRESTIG.NS) <BR>
            TVS Motor Company Ltd. (TVSMOTOR.NS) <BR>
            UCO Bank (UCOBANK.NS) <BR>
            Ultratech Cement Ltd. (ULTRACEMCO.NS) <BR>
            Union Bank of India (UNIONBANK.NS) <BR>
            United Breweries Ltd. (UBL.NS) <BR>
            United Spirits Ltd. (MCDOWELL-N.NS) <BR>
            UPL Ltd. (UPL.NS) <BR>
            V-Guard Industries Ltd. (VGUARD.NS) <BR>
            Vakrangee Ltd. (VAKRANGEE.NS) <BR>
            Varun Beverages Ltd. (VBL.NS) <BR>
            Vascon Engineers Ltd. (VASCONEQ.NS) <BR>
            Vedanta Ltd. (VEDL.NS) <BR>
            Venky's (India.NS)  Ltd. (VENKEYS.NS) <BR>
            Veritas (India.NS) Ltd. (VERITAS.NS) <BR>
            VIP Industries Ltd. (VIPIND.NS) <BR>
            Vodafone Idea Ltd. (IDEA.NS) <BR>
            Voltas Ltd. (VOLTAS.NS) <BR>
            V-Mart Retail Ltd. (VMART.NS) <BR>
            WABCO India Ltd. (WABCOINDIA.NS) <BR>
            Walchandnagar Industries Ltd. (WALCHANNAG.NS) <BR>
            Welspun Corp Ltd. (WELCORP.NS) <BR>
            Welspun India Ltd. (WELSPUNIND.NS) <BR>
            Westlife Development Ltd. (WESTLIFE.NS) <BR>
            Wipro Ltd. (WIPRO.NS) <BR>
            Wockhardt Ltd. (WOCKPHARMA.NS) <BR>
            Wonderla Holidays Ltd. (WONDERLA.NS) <BR>
            Yes Bank Ltd. (YESBANK.NS) <BR>
            Zensar Technologies Ltd. (ZENSARTECH.NS) <BR>
            Zee Entertainment Enterprises Ltd. (ZEEL.NS) <BR>
            Zee Media Corporation Ltd. (ZEEMEDIA.NS) <BR>
            Zydus Wellness Ltd. (ZYDUSWELL.NS) <BR>
       
                                        
</div>
<div class="container">
    ADANIENT.NS,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.NS,APOLLOHOSP.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,
BAJFINANCE.NS,BHARTIARTL.NS,BPCL.NS,CIPLA.NS,COALINDIA.NS,DIVISLAB.NS,
DRREDDY.NS,EICHERMOT.NS,GRASIM.NS,HCLTECH.NS,HDFCBANK.NS,
HDFCLIFE.NS,HEROMOTOCO.NS,HINDALCO.NS,HINDUNILVR.NS,ICICIBANK.NS,
INDUSINDBK.NS,INFY.NS,IOC.NS,ITC.NS,JSWSTEEL.NS,KOTAKBANK.NS,LT.NS,LTIM.NS,
M&M.NS,MARUTI.NS,NESTLEIND.NS,NTPC.NS,ONGC.NS,POWERGRID.NS,RELIANCE.NS,
SBILIFE.NS,SBIN.NS,SHREECEM.NS,SUNPHARMA.NS,TATAMOTORS.NS,TATASTEEL.NS,
TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS,UPL.NS,WIPRO.NS</div>
</body>
<footer>By Prasanth N</footer>
</html>
