<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intraday Analysis</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .bullish {
            color: rgb(161, 14, 125);
        }
        .bearish {
            color: red;
        }
    </style>
    <style>
        /* Add space between <td> elements */
        td {
            padding-right: 20px; /* Adjust as needed */
        }
    </style>
    <style>
        .buy-decision {
            background-color: lightgreen;
        }
    </style>
    <style>
        .superbuy-decision {
            background-color: rgb(83, 179, 235);
        }
    </style>
    <script>
        

        

        // Function to update last refreshed date and time
        function updateRefreshTime() {
            var now = new Date();
            var formattedTime = now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
            var formattedDate = now.toLocaleDateString('en-US');
            var refreshTime = formattedDate + ' ' + formattedTime;
            document.getElementById('refreshTime').innerText = 'Last Refreshed: ' + refreshTime;
        }
        
        function downloadCSV() {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                
                csv.push(row.join(","));
            }

            var csvContent = "data:text/csv;charset=utf-8," + csv.join("\n");
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "Intraday_analysis.csv");
            document.body.appendChild(link);
            link.click();
        }
       
    </script>
</head>
<body>
    
    <h1>Intraday Analysis</h1>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/input_symbol">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/delivery">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/intraday">Intraday</a>
                </li>
            </ul>
        </div>
    </nav>
    
<br>
<div class="container">

    <p id="refreshTime" style="font-style: italic; margin-bottom: 10px;"></p>

    
        <button onclick="downloadCSV()">Download CSV</button><br></div>
<div class="container">
    <table border="1">
        <thead><tr>
            <th>Symbol</th>
                <th>Category</th>
                <th>LTP</th>
                <th>VWAP (Intraday)</th>
                <th>RSI (Intraday)</th>
          
            
        </tr>
    </thead> 
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.LTP }}</td>
                <td>{{ item.VWAP }}</td>
                <td>{{ item.RSI }}</td>
        
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

</body>
</html>
